* {
    padding: 0;
    margin: 0;
}

body {
    color: #000;
}

a {
    text-decoration: none;
}

p {
    font-size: 16px;
    line-height: 1.4rem;
}

.marginTopDown {
    margin: 30px 0;
}

.redBg {
    background-color: red;
}

.redColor {
    color: red;
}

.whiteColor {
    color: #fff;
}

.blueColor {
    background-color: #335c98;
}

.twitterBlue {
    background-color: #2196f3;
}

.linkedinBlue {
    background-color: #3076bf
}

.greenColor {
    background-color: green;
    color: #fff;
}

.borderButton {
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 20px;
}

.primary_button {
    background: red;
    color: #fff;
    display: inline-block;
    padding: 10px;
    float: right;
    margin-top: 1%;
}

.container {
    width: 90%;
    margin: auto;
    padding-top: 1%;
}

header {
    width: 100%;
}

header nav {
    display: inline-block;
    width: 100%;
    height: fit-content;
}

header nav ul,
header nav ul li,
header nav div {
    display: inline-block;
}

header nav ul li a {
    display: block;
    padding: 0 7px;
    color: #000;
}

header h2 {
    color: #888888;
    font-size: 18px;
    font-weight: 100;
}

header .social-media-container ul:nth-child(1) {
    padding-right: 15px;
    border-right: 1px solid #dcdcdc;
}

header .social-media-container ul li {
    padding: 10px;
}


/* header .social-media-container div{
    width: 40%;
} */

header .social-media-container div p,
header .social-media-container div ul li {
    font-size: 12px;
    padding-left: 0;
}

header .social-media-container div ul li:nth-child(1) {
    padding: 0;
}

.content_wrapper {
    display: flex
}

.content_wrapper section {
    position: relative;
    display: inline-block;
    height: fit-content;
    padding: 20px;
}

section.main_content {
    width: 67%;
}

section.main_content article figure {
    position: relative
}

section.main_content article figure a img {
    width: 100%;
}

section.main_content article figure figcaption {
    position: absolute;
    background: #dadada;
    width: 100%;
    bottom: 0;
    padding: 10px 0 10px 5px;
    color: #000;
}

.wrapper_more_text {
    position: relative;
    background-color: #dadada;
    padding: 15px 0px 15px 10px;
}

.wrapper_more_text .readMe_botton {
    position: absolute;
    top: -16px;
    left: 10px;
    background: red;
    display: flex;
    font-size: 10px;
}

.wrapper_more_text .readMe_botton span {
    background: #000;
}

.wrapper_more_text .readMe_botton p {
    font-size: 10px;
    padding: 2px 5px;
    font-weight: bold;
    color: #fff;
}


/*Sport*/

.sport_content_wrapper {
    background: #000;
    border: 1px solid red;
    padding-left: 0;
}

.sport_content_wrapper h2 {
    color: #fff;
    text-align: center;
    font-size: 35px;
}

.sport_content_wrapper .img_wrapper {
    display: flex;
    justify-content: space-around;
}

.sport_content_wrapper .img_container {
    height: 200px;
    width: 23%;
}

.sport_content_wrapper .img_container img {
    width: 100%;
}

.sport_content_wrapper .img_wrapper figure {
    width: 23%;
}

.sport_content_wrapper .img_wrapper figure figcaption {
    width: 100%;
    background: #000;
    padding: 10px 0;
    color: #fff;
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}

footer .social-media-footer-wrapper {
    width: 30%;
}

footer .social-media-footer-wrapper>p {
    padding: 10px;
    background: #dcdcdc;
}

footer .social-media-footer-info {
    display: flex;
    padding: 22px 5px;
}

footer .social-media-footer-info>div {
    width: 50%;
    padding: 10px;
}

footer .social-media-footer-info>div .likes_container {
    color: #fff;
    padding: 10px;
    background: #4366b1;
    width: fit-content;
}

footer .social-media-footer-info>div>p {
    color: #fff;
    font-size: 13px;
}

footer .social-media-footer-info span {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .social-media-footer-info span a {
    color: #fff;
    font-size: 35px;
}

.social-media-footer-info .enterEmail {
    border-radius: 23px;
    background: white;
    color: red;
}

.social-media-footer-info .enterEmail p {
    color: red;
    text-align: center;
}


/*Aside*/

aside {
    display: inline-block;
    width: 30%;
    border-left: 1px solid #dcdcdc;
    padding: 20px;
}

aside h2 {
    color: #000;
}

aside .recomend_content {
    display: flex;
    margin-top: 10px;
    border-top: 1px solid #dcdcdc;
    padding-top: 10px;
}

aside .recomend_content img {
    width: 100px;
}

aside .recomend_content>p {
    margin-left: 10px;
}